body {
    margin: 0;
  }
  canvas {
    width: 1500px;
    height: 1000px;
    display: block;
  }
  /* .container {
    position: relative;
  }
  .overlay {
    position: absolute;
    left: 400px;
    top: 350px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: monospace;
    padding: 1em;
    border-radius: 1em;
    border: 5px solid #f00;
  }
  .overlay1{
    text-shadow: 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white;
  } */
